.navbar {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
  gap: 12%;
  background-color: $light-font;
  &__logo {
    img {
      scale: 0.5;
    }
  }
}
.home {
  color: $white-color !important;
  background-color: $primary-color;
}

// .menu-ul{

// }
