// $bgcolor:blue;
// $primary-color:yellow;
// $padding-max : 20px;
$primary-color: #2d529f;
$secondry-color: #008fe2;
$dark-font: #888686;
$light-font: rgb(241, 241, 241);
$black-color: #1d2127;
$section-gray: #e7e7e7;
$footer-bg: #383838;
$white-color: #ffffff;
