.resorces--card {
  width: 360px;
  padding-bottom: 25px;
  &__img {
    width: 280px;
  }
  &__caption {
    width: 100% !important;
    line-height: 1.2rem;
    padding: 30px 0 0 30px;
    h2 {
      padding-bottom: 1rem;
    }

    h5 {
      color: $dark-font;
      font-size: 0.95rem;
      font-weight: 500;
    }
  }
}
